<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <import resource="client-jms.xml" />
    <import resource="server-jms.xml" />

	<!-- Config overrides -->
	<context:property-placeholder location="classpath:application.properties" ignore-resource-not-found="true"/>

	<context:component-scan base-package="johnjimenez.usbinterview.twitterlike.repository,
	    johnjimenez.usbinterview.twitterlike.service, johnjimenez.usbinterview.twitterlike.interpreter,
	    johnjimenez.usbinterview.twitterlike.clientjms, johnjimenez.usbinterview.twitterlike.serverjms" />
	
	<!-- HSQLDB data source -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="${jdbc.driverClassName:org.hsqldb.jdbcDriver}"/>
    	<property name="url" value="${jdbc.url:jdbc:hsqldb:mem:twitterLikeDb}"/>
    	<property name="username" value="${jdbc.username:sa}"/>
    	<property name="password" value="${jdbc.password:}"/>
    </bean>

	<!-- Hibernate session factory -->    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="${domainPackageToScan:johnjimenez.usbinterview.twitterlike.domain}" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect:org.hibernate.dialect.HSQLDialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto:update}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql:false}</prop>
            </props>
        </property>
    </bean>

	<!-- Transaction Management -->
    <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>

    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>
